@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow: #F6C34B;
  --beige: #F7EBD9;
}

html,body,#root{
  height:100%;
}

body{
  @apply bg-beige text-gray-800 antialiased;
}

.container{
  @apply max-w-5xl mx-auto px-6;
}
